/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /* Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --body-font: 'Outfit', sans-serif;
  --normal-font-size: 18px;
  --light-font: 300;
  --regular-font: 400;
  --semi-bold-font: 600;
}

/*==================== BASE ====================*/
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--soft-blue);
  background-color: var(--main-bg);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  min-height: 100vh;
  padding: 1.5rem;
}

.flex {
  display: flex;
}

/*==================== CARD ====================*/
.card {
  margin: auto;
  border: royalblue 1px solid;
}

.card__info {
  justify-content: space-between;
}

.card__pricing>*,
.card__date>*,
.card__author>* {
  display: inline-block;
  vertical-align: middle;
}